body {
    font-family: "Arial", "Meiryo", sans-serif;
  }
  
  html{
    font-size: 2em;
    text-align: center;
  }
  .a-text{
    color:skyblue;
  }
  .b-text{
    color:rgb(255,192,203);
  }
  .googl-fonts{
    font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-size: 40px;
   letter-spacing: 1.2em;
   text-shadow: 5px 5px 2px gray;
   border-bottom: solid 3px rgb(115,115,114);
  }
  #parent > p {
    font-weight:bold;
  }



  